@{
    ViewBag.Title = "AchadosPerdidos";
}

<section id="license" class="license section">
    <div class="container">
        <div class="license-inner">
            <h2 class="title text-center">Contribua</h2>
            <div class="info">
                <p>Nós temos orgulho em dizer que o AchadosPerdidos é um site de qualidade e gratuito. Não cobramos nenhuma taxa ou mensalidade dos usuários pois trata-se de um site colaborativo. Porém, para manter essa estrutura há alguns custos e sua contribuição é sempre muito importante para nós.</p>
            </div><!--//info-->
            <div class="cta-container">
                <div class="speech-bubble">
                    <p class="intro">Para efetivar a doação adotamos o sistema do PayPal, plataforma de compra online consolidada no mercado pela segurança nas transações. Preencha os dados do seu cartão de crédito e indique um valor.</p>
                    <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                </div><!--//speech-bubble-->
                <div class="btn-container  text-center">
                    <!--//You need to generate your own PayPal button - https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside -->
                    <!--PayPal generated code starts-->
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="J83WRC79NDD2S">
                        <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <!--//PayPal generated code ends-->

                </div><!--//btn-container-->
            </div><!--//cta-container-->
        </div><!--//license-inner-->
    </div><!--//container-->
</section><!--//how-->