@model Achados_e_Perdidos_Prototipo.Models.CascataEncontreiPerdi

@{
	ViewBag.Title = "AchadosPerdidos";
}

<script src="~/Scripts/js/jquery-ui.custom.min.js"></script>


<section class="encontrei section">
    <div class="container">

        <fieldset>

            <legend class="intro text-center">Cadastre abaixo o objeto encontrado</legend>

        </fieldset>
            @*<p style="font-size:22px" class="intro text-center">Cadastre abaixo o objeto encontrado.</p><br />*@

            <form class="form-horizontal">


                <fieldset>

                    @*<div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">País</label>
                        <div class="col-md-4">
                            <select id="selectbasic" name="selectbasic" class="form-control">
                                <option value="1">Brasil</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">Estado</label>
                        <div class="col-md-4">

                            @using (Html.BeginForm())
                            {

                                @Html.DropDownList("Estado", ViewBag.idUF as SelectList, "Escolha o estado...", new { @class = "form-control" })


                            }

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">Cidade</label>
                        <div class="col-md-4">
                            <select id="cidades" class="form-control">
                                <option>Escolha a cidade...</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">Bairro</label>
                        <div class="col-md-4">
                            <select id="bairro" class="form-control">
                                <option>Escolha o bairro...</option>
                            </select>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">Categoria</label>
                        <div class="col-md-4">

                            @using (Html.BeginForm())
                            {

                                @Html.DropDownList("Categoria", ViewBag.idCategoria as SelectList, "Escolha a Categoria...", new { @class = "form-control" })


                            }

                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">SubCategoria</label>
                        <div class="col-md-4">
                            <select id="subCategoria" class="form-control">
                                <option>Escolha a Subcategoria...</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="selectbasic">Complemento</label>
                        <div class="col-md-4">
                            <select id="DescricaosubCategoria" class="form-control">
                                <option>Complemento...</option>
                            </select>
                        </div>
                    </div>



                    <script src="~/Scripts/js/mapa.js"></script>

                    <form method="post" action="" id="">

                        <fieldset>
                            @*<legend>Diga-nos onde encontrou</legend>*@

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="txtEndereco">Endereço</label>
                                <div class="col-md-4">
                                    <input type="text" id="txtEndereco" name="txtEndereco" class="form-control" />
                                </div>

                                <div class="col-md-4">
                                    <input type="button" id="btnEndereco" name="btnEndereco" value="Mostrar no mapa" class="btn btn-cta-primary scrollto" />
                                </div>

                            </div>



                            <div id="mapa" style="height: 500px; width: 500px" class="container text-center">
                                <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
                            </div>

                            <input type="hidden" id="txtLatitude" name="txtLatitude" />
                            <input type="hidden" id="txtLongitude" name="txtLongitude" />
                        </fieldset>
                    </form>




                    <div class="container text-center">
                        <div class="btns">
                            @*<a id="BtnSubmeterEncontrado" class="btn btn-cta-primary scrollto" @Html.ActionLink("Encontrei", "Encontrei", "Home")</a>*@
                            <input id="BtnSubmeterEncontrado" class="btn btn-cta-primary scrollto" type="submit" value="Enviar">
                        </div>
                    </div>




                    @section Scripts{
                        <script>

                            $(function () {

                                $("#BtnSubmeterEncontrado").click(function () {

                                    //Caso algum dropdrown não esteja preenchido, exibe alerta.
                                    //if ($('#Estado').val() == 0 ||
                                    //    $('#cidades').val() == 0 ||
                                    //    $('#Categoria').val() == 0 ||
                                    //    $('#bairro').val() == 0 ||
                                    //    $('#DescricaosubCategoria').val() == 0) {

                                    if ($('#Categoria').val() == 0 ||
                                        $('#DescricaosubCategoria').val() == 0) {

                                        alert("Por favor, preencha todos os campos. Obrigado!")

                                    }
                                    else {
                                        //Post
                                        $.post('SubmeteEncontreiPerdi',
                                            {

                                                //var idSubCat = $('#subCategoria option:selected').text()

                                                //Estado: $('#Estado option:selected').text(),
                                                //Cidade: $('#cidades option:selected').text(),
                                                //Categoria: $('#Categoria option:selected').text(),
                                                //Subcategoria: $('#subCategoria option:selected').text(),
                                                //Complento: $('#DescricaosubCategoria option:selected').text()

                                                //Estado: $('#Estado').val(),
                                                //Cidade: $('#cidades').val(),
                                                //Bairro: $('#bairro').val(),

                                                Estado: "nulo",
                                                Cidade: "nulo",
                                                Bairro: "nulo",
                                                Categoria: $('#Categoria').val(),
                                                Subcategoria: $('#subCategoria').val(),
                                                TipoItem: "Encontrei",
                                                lttde:$('#txtLatitude').val(),
                                                lgttde:$('#txtLongitude').val(),

                                            },

                                            function (retorno) {

                                            });

                                        alert("Item cadastrado com sucesso. Obrigado!")

                                    }


                                });

                            });

                            $(function () {

                                $("#Estado").change(function () {

                                    $("#cidades").empty();
                                    if ($('#Estado option:selected').text() != "Escolha o estado...") {
                                        var idEstado = $(this).val();
                                        $.getJSON("/Home/GetCidades?estado=" + idEstado, function (data) {
                                            $("#cidades").empty();
                                            console.log(data);

                                            $("<option name='cidades' value='" + 0 + "'>" + "Escolha a cidade..." + "</option><br>")
                                                .appendTo("#cidades");
                                            for (var i = 0; i < data.length; i++) {
                                                console.log("estou dentro");
                                                $("<option name='cidades' value='" + data[i].idCity + "'>" + data[i].City + "</option><br>")
                                                    .appendTo("#cidades");


                                            }


                                        });

                                    }
                                    else {
                                        $("<option name='cidades' value='" + 0 + "'>" + "Escolha a cidade..." + "</option><br>")
                                            .appendTo("#cidades");

                                    }

                                });

                            });

                            //bairro
                            $(function () {

                                $("#cidades").change(function () {

                                    $("#bairro").empty();
                                    if ($('#cidades option:selected').text() != "Escolha a cidade...") {
                                        var idcidade = $(this).val();
                                        $.getJSON("/Home/GetBairros?cidade=" + idcidade, function (data) {
                                            $("#bairro").empty();
                                            console.log(data);

                                            $("<option name='bairro' value='" + 0 + "'>" + "Escolha o bairro..." + "</option><br>")
                                                .appendTo("#bairro");
                                            for (var i = 0; i < data.length; i++) {
                                                console.log("estou dentro");
                                                $("<option name='bairro' value='" + data[i].idBairro + "'>" + data[i].Bairro + "</option><br>")
                                                    .appendTo("#bairro");


                                            }


                                        });

                                    }
                                    else {
                                        $("<option name='cidades' value='" + 0 + "'>" + "Escolha a cidade..." + "</option><br>")
                                            .appendTo("#cidades");

                                    }

                                });

                            });


                            $(function () {

                                $("#Categoria").change(function () {

                                    $("#DescricaosubCategoria").empty();
                                    $("#subCategoria").empty();
                                    if ($('#Categoria option:selected').text() != "Escolha a Categoria...") {

                                        var idCategoria = $(this).val();
                                        $.getJSON("/Home/GetsubCategoria?categoria=" + idCategoria, function (data) {
                                            $("#subCategoria").empty();
                                            $("#DescricaosubCategoria").empty();
                                            console.log(data);

                                            $("<option name='subCategoria' value='" + 0 + "'>" + "Escolha a Subcategoria..." + "</option><br>")
                                                .appendTo("#subCategoria");

                                            $("<option name='DescricaosubCategoria' value='" + 0 + "'>" + "Complemento..." + "</option><br>")
                                                .appendTo("#DescricaosubCategoria");

                                            for (var i = 0; i < data.length; i++) {
                                                console.log("estou dentro");
                                                $("<option name='subCategoria' value='" + data[i].idSubCat + "'>" + data[i].SubCatego + "</option><br>")
                                                    .appendTo("#subCategoria");
                                            }
                                        });

                                    }
                                    else {

                                        $("<option name='subCategoria' value='" + 0 + "'>" + "Escolha a SubCategoria..." + "</option><br>")
                                            .appendTo("#subCategoria");

                                        $("<option name='DescricaosubCategoria' value='" + 0 + "'>" + "Complemento..." + "</option><br>")
                                            .appendTo("#DescricaosubCategoria");

                                    }


                                });
                            });


                            $(function () {

                                $("#subCategoria").change(function () {

                                    $("#DescricaosubCategoria").empty();

                                    if ($('#subCategoria option:selected').text() != "Escolha a SubCategoria...") {

                                        //Essa linha captura o texto selecionado na combo.
                                        var idSubCat = $('#subCategoria option:selected').text();

                                        $.getJSON("/Home/GetDescricaosubCategoria?subcategoria=" + idSubCat, function (data) {
                                            $("#DescricaosubCategoria").empty();
                                            console.log(data);

                                            $("<option name='DescricaosubCategoria' value='" + 0 + "'>" + "Complemento..." + "</option><br>")
                                                .appendTo("#DescricaosubCategoria");
                                            for (var i = 0; i < data.length; i++) {
                                                console.log("estou dentro");
                                                $("<option name='DescricaosubCategoria' value='" + data[i].idDescricao + "'>" + data[i].Descri + "</option><br>")
                                                    .appendTo("#DescricaosubCategoria");
                                            }
                                        });

                                    }
                                    else {

                                        $("<option name='DescricaosubCategoria' value='" + 0 + "'>" + "Complemento..." + "</option><br>")
                                            .appendTo("#DescricaosubCategoria");

                                    }


                                });
                            });

                            $(function () {
                                
                                $("#mapa").change(function () {

                                $("#btnEndereco").click(function() {
                                    if($(this).val() != "")
                                        carregarNoMapa($("#txtEndereco").val());
                                })

                                $("#txtEndereco").blur(function() {
                                    if($(this).val() != "")
                                        carregarNoMapa($(this).val());
                                })


                                google.maps.event.addListener(marker, 'drag', function () {
                                    geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                                        if (status == google.maps.GeocoderStatus.OK) {
                                            if (results[0]) {
                                                $('#txtEndereco').val(results[0].formatted_address);
                                                $('#txtLatitude').val(marker.getPosition().lat());
                                                $('#txtLongitude').val(marker.getPosition().lng());
                                            }
                                        }
                                    });
                                });


                                function carregarNoMapa(endereco) {
                                    geocoder.geocode({ 'address': endereco + ', Brasil', 'region': 'BR' }, function (results, status) {
                                        if (status == google.maps.GeocoderStatus.OK) {
                                            if (results[0]) {
                                                var latitude = results[0].geometry.location.lat();
                                                var longitude = results[0].geometry.location.lng();

                                                $('#txtEndereco').val(results[0].formatted_address);
                                                $('#txtLatitude').val(latitude);
                                                $('#txtLongitude').val(longitude);

                                                var location = new google.maps.LatLng(latitude, longitude);
                                                marker.setPosition(location);
                                                map.setCenter(location);
                                                map.setZoom(16);
                                            }
                                        }
                                    });
                                }

                                });
                            });

                        </script>
                    }

                </fieldset>

            </form>

</div>

</section>











