@{
    ViewBag.Title = "AchadosPerdidos";
}



<section id="about" class="about section">
    <div class="container">
    <br />
    <br />
        <h2 class="title text-center">Sobre</h2>
        <p class="intro text-center">O site tem como objetivo auxiliar as pessoas a encontrarem animais e objetos perdidos através de boas ações de cidadania. Nós acreditamos que a cidadania e senso de cooperação deve ser resgatado nas grandes cidades</p>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-search-plus"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Perdeu Algo?</h3>
                    <p>Se você perdeu um objeto ou animal nosso site irá ajudá-lo a encontrá-lo.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-list-alt"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Preencha o formulário</h3>
                    <p>Selecione as opções indicadas e descreva o animal ou objeto perdido. Quanto mais informações mais fácil será encontrá-lo.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-crosshairs"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Reencontre</h3>
                    <p>
                        Encontrou o que estava procurando? Reencontre!! Você irá combinar a melhor forma de reavê-lo diretamente com a pessoa, sem intermediações e burocracias.
                    </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="clearfix visible-md"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-tablet"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Mobile</h3>
                    <p>Nosso site é completamente acessível a todas as plataformas mobile!! Acesse diretamente do seu celular, aonde você estiver!</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Facil de usar!</h3>
                    <p>Nosso site é intuitivo, simples e rápido. Localize seu objeto ou animal sem dificuldades.</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-coffee"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Compartilhe!</h3>
                    <p>Achou? Compartilhe! Divulgue aos seus colegas, eles também podem estar precisando encontrar algo.</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//about-->