@{
    ViewBag.Title = "Termo";
}


<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <title></title>
    <meta name="GENERATOR" content="LibreOffice 4.1.6.2 (Linux)">
    <meta name="AUTHOR" content="Aluno">
    <meta name="CREATED" content="20150602;11700000000000">
    <meta name="CHANGEDBY" content="Bubi Rose">
    <meta name="CHANGED" content="20150604;195400000000000">
    <meta name="AppVersion" content="12.0000">
    <meta name="DocSecurity" content="0">
    <meta name="HyperlinksChanged" content="false">
    <meta name="LinksUpToDate" content="false">
    <meta name="ScaleCrop" content="false">
    <meta name="ShareDoc" content="false">
    <style type="text/css">

    </style>
</head>
<body lang="pt-BR" dir="LTR">
    <p style="margin-bottom: 0.11in">
        <b>
            [x]Aceito o presente contrato na
            integralidade dos respectivos termos e condições de uso do Achados
            Perdidos.
        </b>
    </p>
    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        <b>

            [x]Aceito o presente contrato na
            integralidade dos respectivos termos e condições de uso do Achados
            Perdidos.

            Contrato, termos e Condições de
            uso do Achados Perdidos/Benfeitores
        </b>
    </p>
    <p style="margin-bottom: 0.11in">
        <br>Website <b>Achados Perdidos</b>
        desenvolvido pelo <b>Benfeitores</b>, sob o modelo de plataforma de
        acesso web (browser) para computador, telefone móvel e demais
        dispositivos que permitam o acesso à internet, com a função de
        propiciar o contato entre a pessoa que perdeu o objeto/animal e a
        pessoa que encontrou o objeto/animal.
    </p>
    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        A empresa <b>Benfeitores</b> é
        detentora de todos os direitos do website <b>Achados Perdidos</b>
    </p>

    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>

    <ol>
        <li><p style="margin-bottom: 0.11in"><b>Objeto</b></p>
    </ol>
    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        O objeto do presente contrato,
        termos e condições de uso do <b>Achados Perdidos</b> é a
        regulamentação da licença de uso e devida prestação de serviço
        pelo <b>Benfeitores</b> e normatização da utilização do
        website/mobile em conformidade com as normas de conduta e preceitos
        legais vigentes.
    </p>
    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>
    <ol start=2>
        <li>
            <p style="margin-bottom: 0.11in">
                <b>Da utilização do serviço<br></b><br><br>
            </p>
    </ol>
    <p style="margin-bottom: 0.11in">
        2.1 Em posse de seu nome de usuário
        e senha de acesso estará devidamente habilitado e com acesso ao
        <b>Achados Perdidos</b>, sendo:<br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        2.1a <b>Usuário/Encontrei</b> –
        Poderá verificar se o objeto/animal encontrado já está cadastrado
        no site ou se não encontrar poderá cadastrar. <br><br>2.1b
        <b>Usuário/Perdi</b> – Poderá verificar se alguém encontrou o
        objeto/animal perdido, ou seja, se que encontrou o objeto/animal já
        efetuou o cadastro no website. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        2.1c <b>Usuários </b>- Utilizar-se
        do website para navegação, visualização dos objetos/animais
        cadastrados, através de pesquisa pelo mapa ou por filtro, podendo
        adquirir os dados da pessoa que encontrou o objeto e entrar em
        contato para resgatar o objeto ou animal perdido.
    </p>
    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        2.2 É expressamente vedado ao
        Usuário a utilização do serviço <b>Achados Perdidos</b> para
        qualquer fim ilícito tais quais descritos na clausula <font color="#ff0000"><font size=4>3.4</font></font><font size=4>
        </font>e quaisquer aqueles que violem os preceitos da moral e bons
        costumes.
    </p>
    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        2.3 Os <b>usuários cadastrados</b>,
        serão os únicos e exclusivos responsáveis pelo uso que fizerem dos
        Serviços, sendo certo que a utilização destes para fins ilícitos
        não importará em qualquer responsabilização para o <b>
            Achados
            Perdidos
        </b> / <b>Benfeitores</b>. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        2.4 O <b>Benfeitores</b>/<b>
            Achados
            Perdidos
        </b> com objetivo de preservação da qualidade e
        funcionalidade dos Serviços, reserva-se o direito de modificar
        unilateralmente, em qualquer momento e sem prévio aviso, a
        apresentação e configuração do Serviço, assim como também as
        condições ora requeridas para utilização do mesmo serviço ,
        estando facultado ao Usuário a solicitação do cancelamento do seu
        cadastro, tendo em vista a alta volatilidade da Internet e o fato de
        que o <b>Benfeitores</b> não detém o controle desta, a
        disponibilidade e a continuidade do funcionamento do serviço não
        são garantidas pelo <b>Benfeitores</b>, que fica isenta de toda e
        qualquer responsabilidade relacionada a eventuais danos e prejuízos
        de qualquer natureza que porventura venham a ser causados em razão
        da indisponibilidade ou da falta de continuidade do serviço, seja
        por questões técnicas ou por ausência de interesse do <b>Benfeitores</b>
        na manutenção do Website.
    </p>
    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>
    <ol start=3>
        <li>
            <p style="margin-bottom: 0.11in">
                <b>
                    Obrigações dos Usuários
                    Cadastrados
                </b>. <br><br><br>
            </p>
    </ol>
    <p style="margin-bottom: 0.11in">
        3.1 É imprescindível a realização
        do cadastro pelo usuário no Website. Sendo, integral a
        responsabilidade do usuário quanto a veracidade dos dados cadastrais
        fornecidos. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        3.2 Após a realização do
        cadastro, o usuário estará habilitado a utilizar o website, sendo
        que o usuário será responsável pela criação de “login” a
        própria senha de acesso. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        3.3 É de integral responsabilidade
        do usuário a confidencialidade, guarda e manutenção de sua senha
        de acesso e respectivo nome de usuário e respectivo nome de usuário,
        na hipótese de perda, roubo, furto, extravio, uso indevido, suspeita
        invasão nos sistemas ou crimes digitais, o usuário deverá
        imediatamente comunicar o <b>Benfeitores</b>. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        3.4 Após a efetivação e submissão
        do cadastro, constitui o aceite integral e expresso pelo Usuário na
        integralidade dos termos deste Termo pactuado. Ainda, autoriza o
        usuário, o envio de e-mails pelo <b>Benfeitores</b>, com conteúdo
        pertinente ao serviço prestado.<br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        3.5 O usuário reconhece ser o único
        responsável pelo uso do website sendo este fornecido exclusivamente
        de acordo com este Termo na integralidade de seus termos ora
        pactuados. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        3.6 Ainda é obrigação do usuário
        a utilização do website com as devidas cautelas de praxe, a fim, de
        não causar atos que sejam lesivos aos direitos e interesses de
        terceiros. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        3.7 Os usuários, declaram ter total
        conhecimento que o presente website tem por função única e
        exclusiva de propiciar o contato direto entre o usuário que perdeu e
        o usuário que achou o item/animal, não tenho o <b>Benfeitores</b>/<b>
            Achados
            Perdidos
        </b> qualquer responsabilidade, seja, Legal, Fiscal e
        Administrativa pelos atos praticados entre as partes, conforme
        integral teor deste termo. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        3.8 Os usuários são inteiramente
        responsáveis pela troca de informação com outros usuários, não
        tendo o <b>Benfeitores</b>/<b>Achados Perdidos</b> qualquer
        responsabilidade por informações passadas erroneamente ou de cunho
        falso. <br><br><br>
    </p>
    <p style="margin-bottom: 0.11in">
        3.9 Os usuários estão cientes da
        responsabilidade das informações trocadas e itens/animais
        cadastrados diante da lei Art.169 do código penal que diz “Não
        devolver um objeto num prazo de 15 dias é considerada “apropriação
        de coisa achada”, cuja pena é de detenção de um mês a um ano ou
        multa”.<br><br>3.4.1 Em hipótese de infração contratual no tocante
        a material ilegal, é resguardado ao  <b>Benfeitores</b>, notificar
        as autoridades competentes para as providencias cabíveis da
        existência de tais fatos fornecendo, sem o consentimento prévio do
        usuários , os materiais necessários.
    </p>
    <p style="margin-bottom: 0.11in">
        3.4.2 O <b>Benfeitores</b> utiliza na
        prestação dos serviços dos dados fornecidos pelos usuários, de
        tal forma que não possui qualquer controle ou garantia sobre esta e
        as informações disponíveis, não podendo assegurar qualquer
        modalidade de resultado quanto a sua veracidade, correlação,
        adequação a fim especifico, fonte ou origem. Assim fica eximida de
        qualquer responsabilidade em relação ao conteúdo das informações
        obtidas em decorrência da utilização do website, bem como por
        danos causados por tal conteúdo.
    </p>
    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>
    <ol start=6>
        <li>
            <p style="margin-bottom: 0.11in">
                <b>
                    Das clausulas de exclusão
                    de responsabilidade.
                </b>
            </p>
    </ol>
    <p style="margin-bottom: 0.11in">
        6.1 <b>
            É de inteira
            responsabilidade do usuário
        </b>, a veracidade, origem , vigência
        e/ou autenticidade da informação divulgada ou disponibilizada a
        outros acerto de si próprios, assim como os danos e prejuízos de
        qualquer natureza que possam ser devidos À simulação da
        personalidade de um terceiro, realizada por um usuário em qualquer
        classe de comunicação através do serviço , ficando o <b>Benfeitores</b>,
        desde já, isenta de qualquer responsabilidade neste sentido.
    </p>
    <p style="margin-bottom: 0.11in">
        6.2 Caso o objeto/animal não seja
        encontrado no website pelo usuário que perdeu no prazo de 15 dias, o
        <b>Benfeitores</b> aconselha que o item/animal seja entregue nos
        órgãos responsáveis para devida ocorrência, o <b>Benfeitores</b>/<b>
            Achados
            Perdidos
        </b> não se responsabiliza pelo não cumprimento da lei
        mencionada ou descumprimento do prazo, ficando a <b>Benfeitores</b>
        isenta de qualquer responsabilidade pela apropriação indevida do
        bem.
    </p>
    <p style="margin-bottom: 0.11in">
        6.3 O <b>Benfeitores</b> não é
        responsável por qualquer material ilegal, em conformidade com as
        clausulas pactuadas e as normais legais vigentes.
    </p>

    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>

    <ol start=7>
        <li>
            <p style="margin-bottom: 0.11in">
                <b>
                    Das infrações contratuais
                    e das respectivas sansões legais.
                </b>
            </p>
    </ol>
    <p style="margin-bottom: 0.11in">
        7.1 Diante da ocorrência em seu
        servidor, de material que viole direitos de terceiros o <b>Benfeitores</b>,
        fica reservado o direito de cancelá-lo, a qualquer momento e sem
        aviso prévio, podendo inclusive ter seu cadastro cancelado, ficando
        exclusivamente a critério do <b>Benfeitores</b>.
    </p>
    <p style="margin-bottom: 0.11in">
        7.2 Em hipótese de reclamações
        oriundas da utilização indevida pelo usuário que venham a resultar
        em despesas, incluído eventuais honorários legais, o causador, o
        usuário, concorda em indenizar as demais partes porventura
        envolvidas.
    </p>
    <p style="margin-bottom: 0.11in">
        7.3 Sem limitar-se, a indenização
        em questão, inclui responsabilidade do usuário por quaisquer
        violações ou infrações resultantes da violação a direitos de
        propriedade autoral, intelectual ou marcas, a responsabilidade por
        toda e qualquer obrigação resultante de material ilegal
        disponibilizado e outras condutas que resultem em descumprimento do
        estabelecido em seus devidos termos de conduta, uso e
        responsabilidade.
    </p>
    <p style="margin-bottom: 0.11in">
        7.4 Diante da hipótese de um
        usuário verificar a existência de fatos ou circunstâncias que
        possam constituir uso inadequado, seja por descumprimento a este
        Termo, seja pelo desrespeito à lei, o <b>Benfeitores</b>, requer que
        seja enviada uma notificação contendo todos os dados pertinentes à
        atividade ilícita. Qualquer noticia relacionada à violação de
        propriedade intelectual, será avaliada pelo <b>Benfeitores</b>
        prontamente, devendo ser tomadas as medidas consideradas adequadas
        nos termos da legislação aplicável.
    </p>

    <p style="margin-bottom: 0.11in">
        <br><br>
    </p>

    <ol start=8>
        <li><p style="margin-bottom: 0.11in"><b>Termos finais</b></p>
    </ol>
    <p style="margin-bottom: 0.11in">
        8.1 O não apontamento por parte do
        <b>Benfeitores</b> com relação ao descumprimento de qualquer
        clausula, condição ou obrigações aqui previstas será considerada
        mera tolerância, não implicando em novação aos termos do presente
        termo, tampouco na renuncia do <b>Benfeitores</b> em exigir o
        cumprimento da obrigação, que poderá fazê-lo a qualquer tempo,
        sob as penas aqui estabelecidas ou na forma da legislação positiva
        vigente.
    </p>


    <a class="text-center new-account">@Html.ActionLink("Voltar para o cadastro", "Cadastro", "Home") </a>


</body>
</html>